{{- /* Beschreibung: Frontmatter -> Zusammenfassung -> Seitenbeschreibung. */ -}}
{{- $t := "" -}}
{{- $t = .Description | default "" | string -}}
{{- if not $t -}}
  {{- with .Params.summary -}}
    {{- $t = . | string -}}
  {{- else -}}
    {{- if .IsPage -}}
      {{- $t = .Summary | plainify | string -}}
    {{- else -}}
      {{- $t = site.Params.description | string -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $t = $t | truncate 155 -}}
{{- $t = replaceRE `\s+` " " $t -}}
{{- return $t -}}